# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  workflow_dispatch:

name: update-dataset

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      TOKEN_GOOGLESHEETS_ZOOTRAITS: ${{ secrets.TOKEN_GOOGLESHEETS_ZOOTRAITS }}
    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 2
          packages: |
            any::devtools
            any::dplyr
            any::googlesheets4
            any::tidyr
            any::usethis

      - name: Execute Script
        run: |
          Rscript "data-raw/actions_contribute_review.R"


      - name: Commit results
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add .
          git commit -m "Dataset updated" || echo "No changes to commit"
          git push origin || echo "No changes to commit"
